<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lga.myblog.dao.ArticleInfoMapper">
  <resultMap id="BaseResultMap" type="com.lga.myblog.bean.ArticleInfo">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="article_img" jdbcType="VARCHAR" property="articleImg" />
    <result column="article_recom" jdbcType="VARCHAR" property="articleRecom" />
    <result column="article_time" jdbcType="TIMESTAMP" property="articleTime" />
    <result column="article_mark" jdbcType="VARCHAR" property="articleMark" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName"></result>
    <result column="user_name" jdbcType="VARCHAR" property="userName"></result>

  </resultMap>
  <sql id="Base_Column_List">
    article_id, category_id, user_id, article_title, article_content, article_img, article_recom, 
    article_time, article_mark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    ai.article_id, ai.category_id, ai.user_id, ai.article_title, ai.article_content, ai.article_img, ai.article_recom, ai.article_time, ai.article_mark
    ,
    ui.user_name ,
    ci.category_name

    from article_info ai
    left join user_info ui on ai.user_id = ui.user_id
    left join category_info ci on ai.category_id = ci.category_id
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>

  <!--查询所有的文章-->
  <select id="findAllArticle" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article_info
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_info
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lga.myblog.bean.ArticleInfo">
    insert into article_info (article_id, category_id, user_id, 
      article_title, article_content, article_img, 
      article_recom, article_time, article_mark
      )
    values (#{articleId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{articleTitle,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR}, #{articleImg,jdbcType=VARCHAR}, 
      #{articleRecom,jdbcType=VARCHAR}, #{articleTime,jdbcType=TIMESTAMP}, #{articleMark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="articleId" parameterType="com.lga.myblog.bean.ArticleInfo">

    insert into article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="articleImg != null">
        article_img,
      </if>
      <if test="articleRecom != null">
        article_recom,
      </if>
      <if test="articleTime != null">
        article_time,
      </if>
      <if test="articleMark != null">
        article_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleImg != null">
        #{articleImg,jdbcType=VARCHAR},
      </if>
      <if test="articleRecom != null">
        #{articleRecom,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null">
        #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleMark != null">
        #{articleMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lga.myblog.bean.ArticleInfo">
    update article_info
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleImg != null">
        article_img = #{articleImg,jdbcType=VARCHAR},
      </if>
      <if test="articleRecom != null">
        article_recom = #{articleRecom,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null">
        article_time = #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleMark != null">
        article_mark = #{articleMark,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lga.myblog.bean.ArticleInfo">
    update article_info
    set category_id = #{categoryId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      article_img = #{articleImg,jdbcType=VARCHAR},
      article_recom = #{articleRecom,jdbcType=VARCHAR},
      article_time = #{articleTime,jdbcType=TIMESTAMP},
      article_mark = #{articleMark,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>





<!--自定义的操作-->

  <!--删除文章-->
  <delete id="deleteArticleByCategoryId" parameterType="int">
    delete from article_info  where category_id = #{categoryId}
  </delete>

  <select id="getArticle" parameterType="articleInfo" resultMap="BaseResultMap">
    select
    t1.article_id, t1.category_id, t1.user_id, t1.article_title, t1.article_content, t1.article_img, t1.article_recom, t1.article_time, t1.article_mark,
    t2.category_name,
    ui.user_name
    from article_info t1
    left join category_info t2
    on t1.category_id = t2.category_id
    left join user_info ui on t1.user_id = ui.user_id
    where article_mark = '1'
    <if test="articleTitle != null">
      <bind name="articleTitleParam" value="'%'+_parameter.articleTitle+'%'"/>
      and t1.article_title like #{articleTitleParam}
    </if>
    <if test="articleId != null">
      and t1.article_id = #{articleId}
    </if>
    <if test="categoryId != null">
      and t1.category_id = #{categoryId}
    </if>
    <if test="userId != null">
      and user_id = #{userId}
    </if>
    <if test="articleRecom != null">
      and t1.article_recom = #{articleRecom}
    </if>
    order  by article_time desc

    <if test="start != 1 and length != -1">
      limit #{start},#{length}
    </if>

  </select>

  <select id="getArticleCount" parameterType="articleInfo" resultType="long">
    select
    count(*)
    from article_info t1
    left join category_info t2
    on t1.category_id = t2.category_id
    left join user_info ui on t1.user_id = ui.user_id

    where article_mark = '1'
    <if test="articleTitle != null">
      <bind name="articleTitleParam" value="'%'+_parameter.articleTitle+'%'"/>
      and t1.article_title like #{articleTitleParam}
    </if>
    <if test="articleId != null">
      and t1.article_id = #{articleId}
    </if>
    <if test="categoryId != null">
      and t1.category_id = #{categoryId}
    </if>
    <if test="userId != null">
      and user_id = #{userId}
    </if>
    <if test="articleRecom != null">
      and t1.article_recom = #{articleRecom}
    </if>
  </select>


</mapper>