<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>${(category.categoryName)!}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/admin/images/icon/favicon.ico">
  <link href="/front/css/base.css" rel="stylesheet">
<link href="/front/css/index.css" rel="stylesheet">
  <style type="text/css">
    a:hover{text-decoration:underline;}


  </style>


</head>
<body>

<header>
  <nav>
    <ul>
      <li><a href="/front/index">网站首页</a></li>
      <#list  (categoryInfoList)! as categoryInfo>
      <li><a href="/front/category/list?categoryId=${(categoryInfo.categoryId)!}&page=1">${(categoryInfo.categoryName)!}</a></li>
    </#list>
    <li><a href="/front/message/list">留言</a></li>
    </ul>
  </nav>
</header>
<article>
  <div class="leftbox">
    <div class="newblogs">
      <h2 class="hometitle"><span>${(category.categoryDesc)!}</span>${(category.categoryName)!}</h2>
      <ul>
        <#list (pageBean.list)! as article>
          <li>
            <h3 class="blogtitle"><a href="/front/article/listview?articleId=${(article.articleId)!}"  >${(article.articleTitle)!}</a></h3>
            <div class="bloginfo"><span class="blogpic"><a href="/front/article/listview?articleId=${(article.articleId)!}" title="${(article.articleTitle)!}"><img src="${(article.articleImg)!}" alt="${(article.articleTitle)!}" /></a></span>
              <p>
                <#if article.articleContent?length gt 130>
                ${(article.articleContent)?substring(0,130)}...
                <#else>
                ${(article.articleContent)}...
              </#if>
              </p>
            </div>
            <div class="autor"><span class="lm f_l"><a href="/front/category/list?categoryId=${(article.categoryId)!}&page=1" title="${(article.categoryName)}"   class="classname">${(article.categoryName)}</a></span><span class="au01">${(article.userName)!}</span><span class="dtime f_l">${(article.articleTime)?string("yyyy-MM-dd HH:mm:ss")}</span><span class="f_r"><a href="/front/article/listview?articleId=${(article.articleId)}" class="more">阅读原文>></a></span></div>
          </li>
        </#list>
      </ul>

<!--
      <div class="pagelist"><a title="Total record">&nbsp;<b>146</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_13.html">尾页</a></div>
-->
    </div>
    共有${(pageBean.allRow)!}条记录，当前是第${(pageBean.currentPage)!}/${(pageBean.totalPage)!}页
      <ul class="pager">
        <#if pageBean.currentPage == 1>
        第一页 上一页
        <#else>
        <li><a href="/front/category/list?page=1&categoryId=${(categoryInfo.categoryId)!}">第一页</a></li>
        <li><a href="/front/category/list?page=${pageBean.currentPage-1}&categoryId=${(categoryInfo.categoryId)!}">上一页</a></li>
      </#if>
      <#if pageBean.currentPage == pageBean.totalPage>
      下一页 最末页
      <#else>
      <li><a href="/front/category/list?page=${pageBean.currentPage+1}&categoryId=${(categoryInfo.categoryId)!}">下一页</a></li>
      <li><a href="/front/category/list?page=${pageBean.totalPage}&categoryId=${(categoryInfo.categoryId)!}">最末页</a></li>
    </#if>
    </ul>
  </div>
  <div class="rightbox">
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="paihang">
      <h2 class="ab_title"><a href="/">本栏推荐</a></h2>
      <ul>
        <#list (recomArticleList)! as recomArticle>
        <li>
          <b>
            <a href="/front/article/listview?articleId=${(recomArticle.articleId)!}" >${(recomArticle.articleTitle)!}</a>
          </b>
         <!-- <span>
                  <#if recomArticle.articleContent?length gt 100>
                 ${(recomArticle.articleContent)?substring(0,100)}...
                <#else>
                ${(recomArticle.articleContent)}...
                </#if>
          </span>-->
        </li>
      </#list>
      </ul>
      <div class="ad"><img src="/front/picture/ad300x100.jpg"></div>
    </div>


  </div>
</article>
<footer style="margin-bottom: 0px">
    <p>Design by <a href="javascript:void(0)">lga个人博客</a></p>
</footer>
</body>
</html>


